{% extends 'base.html.twig' %}

{% block title %}Page connexion{% endblock %}

{% block body %}
 <div class="w3-container w3-top">
    <h1 class="h3 mb-3 font-weight-normal">Mon application de sorties</h1>
 </div>
<div class="w3-display-middle">
    <form method="post">

        <div class="w3-row w3-container">
    <label for="pseudoOrEmail">Identifiant</label>
    <input type="text"  name="pseudoOrEmail" id="pseudoOrEmail" class="form-control" autocomplete="pseudo ou email" required autofocus><br><br>
        </div>
        <div class="w3-row w3-container">
        <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br><br>
        </div>



    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
        <input type="hidden" name="_target_path" value="{{ path('sortir_accueil') }}"/>
    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>


</form>
</div>
{% endblock %}
