{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}

{% block body %}

<div class="w3-display-container">
    <h1 class="text-center fw-bold">Mon profil</h1>

<div class="w3-card-4 " style="width: 200px" >
    <img src="{{ asset('upload/profilsImg/'~app.user.imgProfil) }}" alt="Photo de{{ app.user.pseudo }}" width="200px">
</div>
    <br>

    <div class="w3-container">
       {{ form(form)}}

    </div>

</div>
    <div class="w3-center">
        <button class="w3-btn w3-large w3-border" onclick="history.go(-1)">Retour</button>
    </div>
{% endblock %}
