{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<div class="details-profil">
    <h1>Mon profil</h1>
    {{ dump(participant) }}

    <div>
       {{ form(form)}}


    </div>



</div>
{% endblock %}
