.tableFixHead          { overflow: auto; height: 200px; min-height:200px;}
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }
th     { background:#eee; }
.flash { padding: 20px; font-weight: bold; font-size: 1.4rem; margin: 1rem 0 1rem 25%; border-radius: 5px;
            width: 50%;
            text-align: center;}
.flash-success {background-color: #4CAF50}
.flash-failure {background-color: darkred}

@media screen and (max-width: 540px){
    #collapseMobileDevice {
        visibility: collapse;

    }
}

@media screen and (min-width: 540px){
    #messageMobileDevice {
        visibility: collapse;

    }

}
#re{
    text-decoration: none;
    color: black;
}