{% if app.user %}
    <div class="w3-bar w3-border w3-light-grey">
        <span class="w3-xlarge w3-margin">Sortir.com</span>

        <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button w3-hover-green w3-right">Se déconnecter</a>
        <a href="{{ path('participant_profil', {'pseudo':app.user.pseudo}) }}"
           class="w3-bar-item w3-button w3-hover-green w3-right">Mon profil</a>
        <a href="{{ path('sortie_accueil') }}" class="w3-bar-item w3-button w3-right">Accueil</a>

        {% if is_granted("ROLE_ADMIN") %}
            <a href="#" class="w3-bar-item w3-button w3-hover-green w3-right">Campus</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-green w3-right">Villes</a>
            <a href="{{ path('admin_create_participant') }}" class="w3-bar-item w3-button w3-hover-green w3-right">
                Participants</a>
        {% endif %}
    </div>
{% endif %}